footer {
        color: #fff;
        padding: 20px;
    }

    footer a {
        color: #28a745;
    }

<!-- Dentro de la sección <head> -->

    .card-img-top {
        border-radius: 10px;
    }

    .card-body {
        background-color: #f8f9fa;
    }

    .card-title {
        color: #28a745;
    }
<!-- Dentro de la sección <head> -->

    .container-fluid {
        margin-top: 20px;
        background-color: #f8f9fa;
        padding: 20px;
    }

    h1 {
        color: #28a745;
    }
